@use "@styles/mixins";

.header {
    @include mixins.flex($align: center, $justify: space-between, $gap: 20px);

    & {
        background-color: #fafafa;
        border-bottom: 1px solid hsl(var(--border));
        height: 50px;
        width: 100%;
        padding: 10px;
    }

    &__left {
        @include mixins.flex-center($gap: 10px);
    }
}