@use "media";

.hidden-desktop {
	@include media.desktop {
		display: none !important;
	}
}
.visible-desktop {
	@include media.desktop-above {
		display: none !important;
	}
}
.hidden-desktop-s {
	@include media.desktop-s {
		display: none !important;
	}
}
.visible-desktop-s {
	@include media.desktop-s-above {
		display: none !important;
	}
}
.hidden-tablet-l {
	@include media.tablet-l {
		display: none !important;
	}
}
.visible-tablet-l {
	@include media.tablet-l-above {
		display: none !important;
	}
}
.hidden-tablet {
	@include media.tablet {
		display: none !important;
	}
}
.visible-tablet {
	@include media.tablet-above {
		display: none !important;
	}
}
.hidden-tablet-s {
	@include media.tablet-s {
		display: none !important;
	}
}
.visible-tablet-s {
	@include media.tablet-s-above {
		display: none !important;
	}
}
.hidden-mobile-l {
	@include media.mobile-l {
		display: none !important;
	}
}
.visible-mobile-l {
	@include media.mobile-l-above {
		display: none !important;
	}
}