@use "@styles/mixins";
@use "@styles/media";

.auth-container {
	@include mixins.flex-center;

	@include media.tablet-l {
		flex-direction: column;
	}

	& {
		height: 100dvh;
	}

	&__logo-container,
	&__content {
		width: 100%;
		height: 100%;
	}

	&__logo {
		position: absolute;
		top: 15%;
		left: 50%;
		translate: -50% 0;

		&-container {
			position: relative;
			max-width: clamp(25%, 40vw, 500px);
		}
	}

	&__separator {
		height: 90%;
	}

	&__content {
		padding-inline: 25px;
	}
}
